# -----------------------
# DEPENDENCIAS Y SISTEMA
# -----------------------
node_modules/
.DS_Store
Thumbs.db

# -----------------------
# SEGURIDAD (CRÍTICO)
# -----------------------
# Ignora archivos de variables de entorno en front y back
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# -----------------------
# FRONTEND (React/Vite)
# -----------------------
dist/
dist-ssr/
coverage/

# -----------------------
# LOGS (General)
# -----------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# -----------------------
# EDITORES (VS Code, etc)
# -----------------------
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?